{{ define "add_product" }}
{{ template "header" }}
<title>{{ .Title }}</title>
</head>
<body>
  <main>
  <h2 class="text-center">Input data about product</h2>
  <form method="POST" action="/save_product" class="text-center">
    <div class="form-group">
    <label>Name of the product:</label><br>
    <input type="text" name="Name" /><br><br>
    </div>
    <div class="form-group">
    <label>Price of the product:</label><br>
    <input type="number" name="Price" /><br><br>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
  </main>
{{ template "footer" }}
{{ end }}